
TMDB_HOST=https://api.themoviedb.org/3
TMDB_API_KEY=
TMDB_HTTP_PROXY=http://127.0.0.1:7897
TVDB_HTTP_PROXY=http://127.0.0.1:7897
DEEPSEEK_API_KEY=

# Set to "true" to capture browser network requests via WebDriver BiDi
# NETWORK_LOG_ENABLED=true