
TMDB_HOST=https://api.themoviedb.org/3
TMDB_API_KEY=
# When USE_EMBEDDED_HTTP_PROXY is set to true, e2e test starts embedded proxy for HTTP Proxy relative tests
# And TMDB_HTTP_PROXY and TVDB_HTTP_PROXY will be ignored
USE_EMBEDDED_HTTP_PROXY=true 
TMDB_HTTP_PROXY=http://127.0.0.1:7897
TVDB_HTTP_PROXY=http://127.0.0.1:7897
DEEPSEEK_API_KEY=




# Set to "true" to capture browser network requests via WebDriver BiDi
# NETWORK_LOG_ENABLED=true